<header class="header">
    <div class="row py-3 align-items-center border-bottom-grey-02">
        <div class="col text-capitalize font-green-01 font-16 ">{{header.subscribeInfo}}</div>
        <div class="col text-uppercase text-center font-36">{{header.mainHeader}}</div>  
        <div class="col text-capitalize text-center">
          <!--Adding a comment-->
          <!--change this comment later-->
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">{{header.searchText}}</button>
              </form>
        </div>
     
    </div>
   </header>
