<div class="row pt-4 bg-info">
    <div class="col-3 p-4">
        <div class="card" >
          
            <div class="card-body">
              <h5 class="card-title text-capitalize">Topic 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p class="lead mb-0"><a href="#" class="text-dark">Continue reading...</a></p>
            </div>
          </div>
      
      </div>
      <div class="col-3 p-4">
        <div class="card" >
          
            <div class="card-body">
              <h5 class="card-title text-capitalize">Topic 2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p class="lead mb-0"><a href="#" class="text-dark">Continue reading...</a></p>
            </div>
          </div>
      
      </div>
      <div class="col-3 p-4">
        <div class="card" >
          
            <div class="card-body">
              <h5 class="card-title text-capitalize">Topic 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p class="lead mb-0"><a href="#" class="text-dark">Continue reading...</a></p>
            </div>
          </div>
      
      </div>   
      <div class="col-3 p-4">
        <div class="card" >
          
            <div class="card-body">
              <h5 class="card-title text-capitalize">Topic 4</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p class="lead mb-0"><a href="#" class="text-dark">Continue reading...</a></p>
            </div>
          </div>
      
      </div>
</div>

