


// fonts

 $bold:500;
 $bolder:600;


$font: Helvetica, sans-serif;
$font-color:red;


$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-36:36px;
$font-40:40px;



//font section ends here.


//colors
$grey-1:rgb(64,64,64);
$grey-2:#e5e5e5;




//color section ends here.

//borders
$border-grey-02:1px solid $grey-2;



//border section ends here.